# Ignorar archivos y directorios generados por el sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de respaldo
*~

# .env

# Ignorar directorios de dependencias
/node_modules
*/node_modules
/bower_components

# Ignorar archivos de compilación
/dist
/build

# Ignorar archivos de registro y salida
/log
/out

# Ignorar archivos de credenciales
*.key
*.pem

# Ignorar archivos de entorno
.env.local
.env.development.local
.env.test.local
.env.production.local